* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-padding: 30px;
}
body {
  background: #333;
  font-family: sans-serif;
}
.head-container {
  width: 100%;
}
.countrySelection {
  margin: 30px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: red;
}
.countrySelection select {
  background: white;
  width: 30%;
  margin: 30px auto;
  padding: 10px;
  justify-content: center;
}
.options {
  font-size: 30px;
  padding: 10px;
}
.head {
  text-align: center;
  color: white;
}
table {
  width: 800px;
  margin: 0 auto;
  border: 3px solid rgb(83, 83, 83);
}
.tblHeads {
  display: flex;
  width: 800px;
  justify-content: space-between;
  flex-basis: auto;
  background: rgb(46, 199, 0);
  border-bottom: 2px solid rgb(78, 78, 78);
}
.tblHeads th {
  width: 100%;
  flex-grow: 1;
  text-align: left;
  padding: 10px;
}

.tblRows {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}
.tblRows td {
  width: 100%;
  padding: 10px;
}

.tblRows:nth-child(even) {
  background: rgb(193, 255, 193);
}
.tblRows:nth-child(odd) {
  background: rgb(111, 255, 111);
}

.tblRows:hover {
  opacity: 95%;
}
.countryName {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: yellow;
}
.countryName input {
  padding: 20px;
  font-size: 20px;
}
